<!DOCTYPE html>
<html>
<head>
  <title>Divine Hair & Makeup</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
			<div class="container">
				<a href="#" class="brand">Divine - Professional Hair & MakeUp</a>
					<ul class="nav">
						<li><%= link_to "Home", home_path %></li>
						<li><%= link_to "Profile", profile_path %></li>
						<li><%= link_to "Services", services_path %></li>
						<li><%= link_to "Gallery", gallery_path %></li>
						<li><%= link_to "Contact", contact_path %></li>
						<li><%= link_to "Testimonials", testimonials_path %></li>
					</ul>
			</div>		
	</div>
</div>
<div class="container">
	<div id="myCarousel" class="carousel slide">
		<!-- Carousel items -->
			<div class="carousel-inner">
			<div class="item active">
				<img src="assets/curly-hair-style-bg.jpg">
				<div class="carousel-caption">
					<h4>Hair Styling<h4>
					<p>Speak to us about styling hair for special occassions</p>
				</div>
			</div>
			<div class="item">
				<img src="assets/indian-makeup-blog.jpg">
				<div class="carousel-caption">
					<h4>Makeup<h4>
					<p>Speak to us about styling makeup for special occassions</p>
				</div>
			</div>

		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
</div>
</body>
</html>
